spring:
  application:
    name: Hospital-Appointment-System
  datasource:
    url: jdbc:mysql://localhost:3306/hospital_appointment_system
    username: root
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect

jwt:
  secret: "1bcd03eb010e5623e0d95c8bbc7593d1b27c255a87ac85341e85fd91676f6186"
  expiration: 86400000